body {
    margin: 0;
    background-color: #000000;
    color: #c8c8c8;
    text-align: center;
    align: center;
}

#uiGameContainer {
    position: absolute;
}

#uiGameDisplay {
    position: relative;
    align: center;
}